/* .loginDropbox__container {
  display: flex;
  flex-wrap: wrap;
  height: 112px;
  width: 188px;
  box-shadow: 0 0px 12px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  visibility: hidden;
} */

.loginDropbox__container {
    visibility: hidden;
    position: absolute;
}

.loginDropbox {
  position: absolute;
  width: 270px;
  right: 5px;
  top: 45px;
  z-index: 999;
  padding: 15px 0 0;
  border: 3px solid rgb(0, 174, 255);
  border-radius: 10px;
  background-color: #f2f2f2;
  list-style-type: none;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.15s ease-in-out 0s;
}

.logindropbox_visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s ease-in-out 0s;
  animation: slide-in 0.15s ease-out;
}

.loginDropbox__button {
  border: none;
  width: 100%;
  font-family: KarlaMediumBold, sans-serif;
  font-size: 20px;
  padding: 0;
  display: flex;
  margin-left: 20px;
  background-color: #fff;
}

.headerdropbox {
    border: none;
    background-color: #fff;
}



@font-face {
  font-family: KarlaMediumBold;
  src: url(../../fonts/Karla-SemiBold.ttf);
}

@keyframes slide-in {
  from {
    transform: translateY(-25%);
  }

  to {
    transform: translateY(0);
  }
}