.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(143,140,140,0.64);
  transition: backdrop-filter 0.3s ease-in-out;
  z-index: 1000;
}

.modal--blurred {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px 10px);
}

.modal__content {
  background-color: white;
  max-width: 678px;
  height: 767px;
  width: 100%;
  border-radius: 20px;
  margin: auto;
  overflow: hidden;
  z-index: 1000;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 0 28px 15px;

}

.modal-form-header_type_login {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  font-family: KarlaBold, sans-serif;
  font-size: 32px;
}

.modal-form-header_type_register {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  font-family: KarlaSemiBold, sans-serif;
  font-size: 48px;
}

.close_type_register {
  height: 20px;
  width: 20px;
  border: none;
  position: relative;
  top: -20px;
  color: #000;
  background: transparent;
  font-size: 20px;
}

.close_type_login {
  background: transparent;
  color: #000;
  border: none;
  font-size: 20px;
}

.close_type_register:hover,
.close_type_login:hover {
  cursor: pointer;
}

.inputs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inputs-signup {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.input {
  border-radius: 5px;
  border-bottom: 1px solid;
  margin-bottom: 24px;
  width: 583px;
  height: 52px;
  padding: 0;
  display: flex;
  border: 2px solid #000;
  font-family: KarlaRegular, sans-serif;
  font-size: 18px;
}

.input-header {
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0px;
  color: #000;
  display: flex;
  font-family: KarlaMedium, sans-serif;
  font-size: 18px;
}

.weather-type-header {
  margin-bottom: 0;
  display: block;
}

.weather-inputs {
  margin-top: 12px;
  margin-bottom: 32px;
}

.weather-type-button {
  accent-color: black;
}
.weather-type-button:hover {
  cursor: pointer;
}

/* .modal-form-submit {
  width: 583px;
  height: 56px;
  border: 1px solid;
  border-width: thin;
  border-radius: 21px;
  color: #000;
  padding: 0;
  background-color: #b7b7b7;
  font-family: KarlaMedium, sans-serif;
  font-size: 18px;
}

.modal-form-submit:hover {
  background-color: #8f8c8c;
}

.modal-form-submit-signup {
  width: 583px;
  height: 56px;
  border: none;
  border-radius: 21px;
  color: #000;
  padding: 0;
  background-color: #B7B7B7;
  font-family: KarlaMedium, sans-serif;
  font-size: 18px;
  margin: auto;
  
}

.modal-form-submit:hover,
.modal-form-submit-signup:hover {
  cursor: pointer;
  
}

.modal-form-submit-signup:hover,
.modal-form-submit:disabled {
  background-color: #b7b7b7;
  color: #000;
  cursor: not-allowed;
  border: 1px solid;
  border-width: thin;
} */
 .modal-form-submit {
  width: 583px;
  height: 56px;
  border: 1px solid;
  border-width: thin;
  border-radius: 21px;
  color: #000;
  padding: 0;
  background-color: #b7b7b7; 
  font-family: KarlaMedium, sans-serif;
  font-size: 18px;
}

.modal-form-submit-signup {
  width: 583px;
  height: 56px;
  border: none; 
  border-radius: 21px;
  color: #000;
  padding: 0;
  background-color: #B7B7B7; 
  font-family: KarlaMedium, sans-serif;
  font-size: 18px;
  margin: auto;
}

.modal-form-submit:not(:disabled):hover, 
.modal-form-submit-signup:not(:disabled):hover { 
  cursor: pointer; 
  background-color: #8f8c8c; 
  
}

.modal-form-submit:disabled,
.modal-form-submit-signup:disabled {
  background-color: #b7b7b7; 
  color: #000;            
  border: 1px solid;
  border-width: thin;
  cursor: not-allowed;  
}

.modal-form-submit:disabled:hover,
.modal-form-submit-signup:disabled:hover {
  cursor: not-allowed; 
}

.modal-form_input-error {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #ff0000;
  position: relative;
  left: -5px;
  top: -15px;
}

.modal-form_err-message {
  font-size: 14px;
  color: #ff0000;
  margin: 0;
}

.modal-form-buttons {
  display: flex;
}

.modal-form-forgot-password {
  display: flex;
  margin: 40px 0;
  font-family: KarlaRegular, sans-serif;
  font-size: 18px;
  color: #000;
}

.modal-form-forgot-password-signup {
  display: flex;
  font-family: KarlaRegular, sans-serif;
  font-size: 18px;
  color: #000;
  margin: 18px 18px 18px 25px;
}

.modal-form-signup {
  width: 583px;
  height: 237px;
  border: 1px solid;
  border-width: thin;
  border-radius: 21px;
  margin: auto;
}

.modal-form-signup-text {
  display: flex;
  margin: 30px 30px 30px 50px;
  font-family: KarlaSemiBold, sans-serif;
  font-size: 24px;
}

.modal-form-signup-text-description {
  display: flex;
  margin: 30px 30px 30px 50px;
  font-family: KarlaRegular, sans-serif;
  font-size: 18px;
  color: #000;
}

.modal__signup {
  background-color: #b7b7b7;
  width: 479px;
  height: 56px;
  padding: 0;
  cursor: pointer;
  display: flex;
  margin: auto;
  border-radius: 21px;
  border: 1px solid;
  border-width: thin;
  justify-content: center;
  align-items: center;
  font-family: KarlaMedium, sans-serif;
  font-size: 18px;
}

.modal__signup:hover {
  background-color: #8f8c8c;
}

.radio-label {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

.radio-label:hover {
  color: #000;
}

input[type="radio"]:checked + label {
  color: #000;
}

.modal__content_type_register {
  height: 981px;
  width: 698px;
  background-color: #B9E5DB;
  border-radius: 21px;
    border: 1px solid;
  border-width: thin;
}

.modal__content_type_login {
  background-color: rgba(185,229,219,1);
  border-radius: 21px;
  border: 1px solid;
  border-width: thin;
}

@media screen and (max-width: 500px) {
  .modal {
    display: block;
  }
}

@font-face {
  font-family: KarlaBold;
  src: url("../../fonts/Karla-Bold.ttf");
}

@font-face {
  font-family: KarlaMedium;
  src: url("../../fonts/Karla-Medium.ttf");
}

@font-face {
  font-family: KarlaRegular;
  src: url("../../fonts/Karla-Regular.ttf");
}

@font-face {
  font-family: KarlaSemiBold;
  src: url("../../fonts/Karla-SemiBold.ttf");
}
