.sidebar-container {
  display: flex;
  font-family: "Cabinet", sans-serif;
  justify-content: flex-start;
  width: 229px;
  font-size: 20px;
  font-weight: 700;
  padding-right: 116px;
  padding-top: 15px;
  flex-direction: column;
}

.sidebar__button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px 0 0;
}

.sidebar__logout-button {
  background-color: transparent;
  border: none;
  margin: 0;
  display: flex;
  color: #fff;
  font-family: "";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.15s linear 0s;
}

.sidebar__logout-button:hover {
  opacity: 0.8;
}

.sidebar__change_profile_data-button {
  background-color: transparent;
  border: none;
  margin: 0;
  display: flex;
  color: #fff;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.15s linear 0s;
}

.sidebar__change_profile_data-button:hover {
  opacity: 0.8;
}

.sidebar__packing-lists__link {
  background-color: transparent;
  border: none;
  display: flex;
  color: white;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
  text-decoration: none;
}

.profile__logo {
  font-family: "Familjen Grotesk", sans-serif;
  display: flex;
  margin: 0 0 0px 40px;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  gap: 16px;
  margin: 0;
}

.profile__avatar-image {
  border-radius: 50%;
  background-color: black;
  height: 56px;
  width: 56px;
}
.profile__avatar-name {
  align-self: center;
}

.modal__input-title {
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 8px;
  display: flex;
}

.modal__input {
  border: none;
  border-bottom: 1px solid;
  width: 440px;
}

.edit-modal__input-container {
  margin-bottom: 24px;
  width: 496px;
  padding: 0;
  list-style: none;
}

.modal__inputs {
  padding-bottom: 24px;
  display: flex;
}

.modal__input-container-button {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


