.mytrips {
  background-color: #fdf8ef;
}

.mytrips__location {
  height: 250px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 40px;
  background-color: #fff;
}

.mytrips__location-destination {
  height: 120px;
  margin: auto;
  font-size: 80px;
  margin-bottom: 50px;
  font-family: KarlaLight, sans-serif;
  font-size: 65px;
}

.mytrips__location-dates {
  height: 36px;
  margin: auto;
  font-size: 25px;
  font-family: KarlaRegular, sans-serif;
}

.mytrips__location-dates-edit {
  font-family: KarlaRegular, sans-serif;
  font-size: 18px;
  color: #626262;
}

.mytrips__location-dates-edit-icon {
  cursor: pointer;
}

.mytrips__weatherForecast {
  height: 438px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fdf8ef;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.mytrips__weatherForecast-title {
  width: 100%;
  font-family: KarlaMedium, sans-serif;
  font-size: 35px;
  margin-top: 100px;
}

.mytrips__weatherForecast-days {
  width: 100%;
  margin: 0 auto;
}

.mytrips__weatherForecast-days-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.mytrips__suggested-packing-list-title {
  font-family: KarlaSemiBold, sans-serif;
  font-size: 32px;
}

.mytrips__weatherForecast-day {
  width: 200px;
  height: 128px;
  display: flex;
}

.mytrips__weatherForecast-day-weather-image {
  height: 40px;
  width: 40px;
  margin-right: 16px;
}

.mytrips__weatherForecast-day-details {
}

.mytrips__weatherForecast-day-details-text1 {
  margin: 5px 0;
  display: flex;
  font-family: KarlaSemiBold, sans-serif;
  font-size: 20px;
  width: 300px;
}
.mytrips__weatherForecast-day-details-text2 {
  margin: 5px 0;
  display: flex;
  font-family: KarlaMedium, sans-serif;
  font-size: 18px;
  width: 300px;
}
.mytrips__weatherForecast-day-details-text3 {
  margin: 5px 0;
  display: flex;
  font-family: KarlaMedium, sans-serif;
  font-size: 18px;
  width: 300px;
}

.mytrips__activities {
  margin-bottom: 80px;
  display: inline-flex;
  align-items: center;
  border-radius: 16px;
  padding: 4px 8px;
  margin-right: 4px;
  font-family: KarlaRegular, sans-serif;
}

.mytrips__activity-tag-inside {
  background-color: rgba(185, 229, 219, 1);
  color: #000;
  border-radius: 16px;
  padding: 4px 8px;
  font-size: 18px;
  margin-right: 4px;
  font-family: KarlaRegular, sans-serif;
}

.mytrips__remove-activity-inside {
  display: inline-flex;
  background: none;
  border: none;
  color: #000;
  font-size: 15px;
  margin-right: 4px;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  outline: none;
}

.mytrips__suggested-packing-list-items-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  list-style-type: none;
  column-gap: 50px;
  row-gap: 100px;
  flex-wrap: wrap;
  margin: auto;
}

.mytrips__packing-list-items-scroll-container {
  overflow-y: auto;
  max-height: 435px;
  height: 435px;
}

.mytrips__packing-list-items-scroll-container::-webkit-scrollbar {
  display: none;
}
.mytrips__item-category {
  background-color: #fff;
  border-radius: 10px;
  width: 550px;
  height: 486px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  border-width: thin;
}

.mytrips__item-category-title {
  display: flex;
  margin-top: -40px;
  font-family: KarlaSemiBold, sans-serif;
  font-size: 24px;
}

.mytrips__item-category-add-item {
  display: flex;
  align-items: center;
}

.mytrips__item-category__add-item.mytrips__item-not-empty:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.mytrips__item-category__added-item-checkbox:disabled + .custom-checkbox-box {
  background-color: #f0f0f0;
  border-color: #cccccc;
  cursor: auto;
}

.mytrips__item-category-add-item-button {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 20px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 0;
  height: 24px;
  width: 24px;
  border-radius: 15px;
}
.mytrips__item-category-add-item-button:hover {
  cursor: pointer;
}

.mytrips__item-name-text {
  font-family: KarlaRegular, sans-serif;
  font-size: 18px;
}

.mytrips__item-category-add-item-text {
  margin: 0;
  font-family: KarlaRegular, sans-serif;
  color: rgba(68, 68, 68, 1);
  font-size: 18px;
}

.mytrips__item-category-add-item-form {
  display: flex;
  gap: 5px;
  margin-left: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.mytrips__item-category-add-item-form-input {
  width: 367px;
  height: 30px;
  border-radius: 5px;
  border-width: thin;
  border-color: rgba(63, 63, 70, 0.2);
}

.mytrips__item-category-add-item-form-quantity {
  width: 39px;
  height: 30px;
  border-radius: 5px;
  border-width: thin;
  border-color: rgba(62, 62, 70, 0.2);
}

.mytrips__item-category-add-item-form-input-quantities {
  display: flex;
  margin-right: 10px;
  gap: 5px;
}

.mytrips__item-category-add-item-form-input-controls {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.mytrips__item-category-add-button {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border-width: thin;
}

.mytrips__item-category__added-item {
  display: flex;
  margin: 0 0 20px 20px;
}

.mytrips__item-category__added-item-checkbox:checked
  ~ .mytrips__item-name-text {
  text-decoration-line: line-through;
}

.mytrips__item-category__added-item:hover {
  background-color: #eaeaea;
  border-radius: 5px;
  margin-right: 10px;
}

.mytrips__item-category__added-item-text {
  font-family: KarlaRegular, sans-serif;
  font-size: 18px;
  width: 15px;
  height: 15px;
  display: flex;
  border: 1px solid #000;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.mytrips__item-category__added-item-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.custom-checkbox-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 15px;
  vertical-align: middle;
  margin-right: 8px;
  cursor: pointer;
}

.custom-checkbox-box:hover {
  background-color: #b7b7b7;
}

.mytrips__checkmark {
  width: 20px;
  height: 20px;
  border-radius: 15px;
}

.mytrips__quantity-controls {
  display: flex;
  margin-right: 20px;
  margin-left: auto;
  align-items: center;
  gap: 5px;
}

.mytrips__quantity-button {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-width: thin;
  border-radius: 5px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.mytrips__quantity-buttons {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-width: thin;
  border-radius: 5px;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.mytrips__item-category__added-item:hover .mytrips__quantity-button {
  visibility: visible;
  opacity: 1;
}

.mytrips__delete-item-button {
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

.mytrips__item-category__added-item:hover .mytrips__delete-icon {
  visibility: visible;
  opacity: 1;
}

.mytrips__delete-icon {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.mytrips__delete-item-button:hover {
  cursor: pointer;
}

.mytrips__other-items {
  display: flex;
  margin-top: 80px;
}

.mytrips__other-items-text {
  font-family: KarlaSemiBold, sans-serif;
  font-size: 24px;
  margin-top: -40px;
  display: flex;
}

.mytrips__other-items-container {
  background-color: #fff;
  height: 179px;
  width: 1100px;
  border-radius: 10px;
  margin: auto;
  overflow-y: auto;
  border: 1px solid #000;
  border-width: thin;
}

.mytrips__other-items-container::-webkit-scrollbar {
  display: none;
}

.mytrips__email-packing-list {
  margin-top: 40px;
  height: 200px;
}

.mytrips__email-submit-button {
  background-color: #76d1bc;
  color: #000;
  border-radius: 21px;
  height: 44px;
  width: 240px;
  font-family: KarlaMedium, sans-serif;
  font-size: 18px;
  border-width: thin;
  border: none;
}

.mytrips__email-submit-button:hover {
  cursor: pointer;
  background-color: #b9e5db;
}

.mytrips__delete-trip {
  margin-top: 20px;
}

.mytrips__delete-trip-button {
  height: 44px;
  width: 240px;
  border-width: thin;
  border-radius: 21px;
  background-color: transparent;
  font-family: KarlaMedium;
  font-size: 18px;
}

.mytrips__delete-trip-button {
  cursor: pointer;
}

.mytrips__delete-trip-button:hover {
  background-color: #000;
  color: #fff;
}

.mytrips__suggested-item-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto 10px;
}

.mytrips__suggested-item-button {
  border-radius: 10px;
  background-color: #383637;
  color: #fff;
  font-family: KarlaRegular, sans-serif;
  font-size: 18px;
  height: 28px;
  margin-bottom: 15px;
  display: flex;
}

.mytrips__suggested-item-button:hover {
  cursor: pointer;
}

.mytrips__suggested-item-button-plus {
  display: flex;
  align-items: center;
}

.mytrips__suggested-item-button-icon {
  margin-left: 10px;
}

@font-face {
  font-family: KarlaRegular;
  src: url("../../fonts//Karla-Regular.ttf");
}

@font-face {
  font-family: KarlaMedim;
  src: url("../../fonts/Karla-Medium.ttf");
}

@font-face {
  font-family: KarlaSemiBold;
  src: url("../../fonts/Karla-SemiBold.ttf");
}

@font-face {
  font-family: RobotoMedium;
  src: url("../../fonts/Roboto-Medium.ttf");
}
