.weather {
  position: relative;
  display: flex;
  justify-content: center;
}

.weather_info {
  position: relative;
  top: 15px;
  left: 40px;
  bottom: 20px;
  color: white;
  font-size: 36px;
  height: 40px;
  width: 0;
}

.weather_image {
  max-width: 100%;
  object-fit: cover;
  object-position: right top;
  border-radius: 12px;
}

@media screen and (max-width: 1000px) {
  .weather_info {
    font-size: 30px;
    left: 80px;
  }
}

@media screen and (max-width: 720px) {
  .weather_info {
    font-size: 25px;
    left: 60px;
    top: 20px;
  }

  .weather {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .weather_info {
    font-size: 15px;
    left: 40px;
    top: 30px;
  }
}
