.main {
  padding: 0 20px;
  max-width: 1360px;
  margin: 0 auto;
}

.card_suggestion {
  font-size: 40px;
  color: #fff;
  opacity: 0.8;
}

.main-city_weather-container {
  display: flex;
  margin: 15px 15px 0;
  align-items: center;
  justify-content: space-between;
}

.main-city_weather-details {
  display: flex;
  gap: 30px;
  align-items: center;
}

.main-city_weather-condition {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  opacity: 0.9;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .card_suggestion {
    font-size: 25px;
  }
}

@media screen and (max-width: 945px) {
  .main-city_weather-container {
    flex-direction: column;
    margin: 0;
  }

  .main-city_weather-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .card_suggestion {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .main {
    padding: 0;
  }
}
