.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
  color: #000;
  font-family: Cabinet Groestk, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 89px;
  width: auto;
}

.header__logo-image {
  width: 100px;
  height: 70px;
}

.header__avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-image {
  margin-left: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__name {
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__button {
  color: #000;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background: none;
  border: none;
}

.header__button:hover {
  cursor: pointer;
}

.header__date {
  display: flex;
  justify-content: baseline;
  font-size: 35px;
  opacity: 0.8;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-avatar-logo {
  padding-left: 12px;
}


@media screen and (max-width: 1000px) {
  .header__date {
    font-size: 25px;
  }

  .header__buttons {
    display: flex;
    align-items: center;
  }

  .header__button {
    font-size: 25px;
  }

  .header__name {
    font-size: 25px;
  }

  .header__logo-image {
    width: 70px;
    height: 50px;
  }
  
}

@media screen and (max-width: 720px) {
  .header__date {
    font-size: 20px;
  }

  .header__logo-image {
    width: 60px;
    height: 40px;
  }

  .header__button {
    font-size: 20px;
  }

  .header__avatar-logo {
    gap: 0;
  
   }

   .header__logo {
    gap: 10px;
   }

}

@media screen and (max-width: 500px) {
 .header__logo {
  gap: 0;
 }

 .header__avatar-logo {
  display: grid;
  grid-template-columns: min-content;
 }
}