.searched-city {
  padding: 0 20px;
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.searched-city_title {
  color: #fff;
  font-size: 32px;
}

.searched-city_card-lists {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, 325px);
  grid-gap: 20px;
  list-style-type: none;
  padding: 0;
}

.searched-city_weather-container {
  display: flex;
  margin: 15px 15px 0;
  align-items: center;
  justify-content: space-between;
}

.searched-city_weather-details {
  display: flex;
  gap: 30px;
  align-items: center;
}

.searched-city_weather-condition {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  opacity: 0.9;
  margin: 0;
}

@media screen and (max-width: 945px) {
  .searched-city_title {
    font-size: 28px;
  }

  .searched-city_weather-container {
    flex-direction: column;
    margin: 0;
  }

  .searched-city_weather-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
