.footer {
  display: flex;
  align-items: center;
  color: #000;
  padding: 0 0 0 40px;
  height: 184px;
  justify-content: end;
  gap: 50px;
  background-color: #EAEAEA;
}


.footer__text {
  line-height: 20px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  
}

