.footer {
  display: flex;
  align-items: end;
  color: #fff;
  opacity: 0.8;
  padding: 0 0 0 40px;

  margin: 60px 0 10px;
}

.footer_text {
  line-height: 20px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  text-align: left;
}
