.location_search-container {
  position: relative;
  margin: 0.9rem 0 0 auto;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.location_searchbar-container {
  position: relative;
  display: flex;
  height: 40px;
}

.location_search-bar {
  width: 100%;
  font-size: 18px;
  padding: 0 45px 0 10px;
  border: 1px solid #000;
  border-radius: 20px;
  outline: none;
}

.location_search-btn {
  position: absolute;
  right: 0;
  height: 100%;
  width: 40px;
  border: 1px solid #000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: background-color 0.15s linear 0s;
  cursor: pointer;
  background: no-repeat #ceb29a 40%/50% url("../../Images/search-icon.svg");
}

.location_search-dropbox {
  position: absolute;
  top: 40px;
  margin: 0 0 0 auto;
  border-radius: 15px;
  border: 1px solid #000;
  overflow: hidden;
  width: 100%;
  list-style-type: none;
  padding: 0;
  z-index: 20;
}

.location_search-results {
  display: flex;
  flex-direction: column;
}

.location_search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
}

.location_search-btn:hover {
  background-color: #b49b86;
}

@media screen and (max-width: 870px) {
  .location_search-container {
    margin: 0.9rem auto 0;
  }
}
